.contaiabaou{
    width: 100vw;
    height: auto;
    background-image: url('../../public/bg.png');
    background-position: center;
    background-size: cover;
   
}
.containerAbout{
   
    margin: auto;
    width: 90vw;
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../../public/G.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: auto 15% auto;
    align-items: center;
    
}
.box{
    display: grid;
    justify-content: center;
    
}
.boxAbout{
    text-align: end; 
}
.box h1{
    font-family: 'Cinzel', serif;
    font-size: 4em;
    padding-bottom: 4vh;
    color: rgb(196, 172, 131);
}
.box p{
    font-size: 0.8em;
    max-width: 700px;
}
.box button{
    padding: 10px;
    width: 10vw;
    margin-top: 2vh;
}
.btnleft{
    margin-left: 73%;
}
.box .img{
    margin: auto;
    height: 85vh;
}

@media (max-width: 1087px) {
    
    .containerAbout{
   
        margin: auto;
        width: 95vw;
        grid-template-columns: auto 25% auto;
    }
    .box button {
        padding: 10px;
        width: 25vw;
       
    }
    .btnleft{
        margin-left: 27%;
    }
}

@media (max-width: 900px) {
    
    .containerAbout{
   
        margin: auto;
        width: 95vw;
        
    }
    .box h1 {
        font-size: 3em;
    }
    .box p {
        font-size: 0.8em;
        
    }
}
@media (max-width: 688px) {
    
    .containerAbout{
   
        margin: auto;
        width: 95vw;
        min-height: 100vh;
        height: auto;
        background-image: url(../../public/G.png);
        background-size: 00px;
        padding-bottom: 5vh;
        padding-top: 5vh;
        grid-template-columns: auto ;
    }
    .box h1 {
        font-size: 4em;
    }
   
    .box p {
        font-size: 0.8em;
        width: 70vw;
    }
    .box .img {
        margin: auto;
        height: 70vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .btnleft {
        margin-left: 64%;
    }
}
@media (max-width: 450px) {
    
    .btnleft {
        margin-left: 44%;
    }
    .box button {
        padding: 10px;
        width: 40vw;
    }
    .box h1 {
        font-size: 4em;
    }
}
@media (max-width: 350px) {
    
    
    .box h1 {
        font-size: 3em;
    }
}